@model UnivercityDepartment.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<h1>Student Details</h1>

<h3>Student</h3>
<hr />

<dl class="row">
    <dt class="col-sm-2">First Name</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>

    <dt class="col-sm-2">Last Name</dt>
    <dd class="col-sm-10">@Model.LastName</dd>

    <dt class="col-sm-2">Middle Name</dt>
    <dd class="col-sm-10">@Model.MiddleName</dd>

    <dt class="col-sm-2">Gender</dt>
    <dd class="col-sm-10">@Model.Gender</dd>

    <dt class="col-sm-2">Faculty</dt>
    <dd class="col-sm-10">@Model.Faculty.FacultyName</dd>

    <dt class="col-sm-2">Department</dt>
    <dd class="col-sm-10">@Model.Department.DepartmentName</dd>

    <dt class="col-sm-2
